{% extends 'base.html.twig' %}
{% block title %}
Users
{% endblock %}
{% block content %}
<ul class='list-group text-center col-5 ml-auto mr-auto'>
    {% for user in users %}
    <li class='list-group-item border deep-purple-text'>
        <a href="{{env.base_path }}users/{{user.id}} " class='text-dark'>{{user.firstname}} {{user.lastname}}</a><a href="" class="btn btn-danger rounded"> Delete</a>
    </li>
    {% endfor %}
</ul>
<div class="btn btn-deep-purple darken-4 rounded ">
    <a href="{{ env.base_path ~ '/users/new' }}" class="text-white">Add</a>
</div>
{% endblock %}