{% extends 'base.html.twig' %}
{% block title %}
Users
{% endblock %}
{% block content %}
<ul class='list-group text-center col-5 ml-auto mr-auto'>
    {% for user in users %}
    <li class='list-group-item border deep-purple-text d-flex justify-content-between'>
        <a href="{{env.base_path }}users/{{user.id}} " class='text-dark'>{{user.firstname}} {{user.lastname}}</a>
        <a href="{{env.base_path ~ 'users/' ~ user.id ~ '/delete'}}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
    </li>
    {% endfor %}
</ul>
<div class="text-center mt-5 " >
    <a href="{{ env.base_path ~ '/users/new' }}" class="text-secondary"><i class="fas fa-plus"> ADD </i></a>
</div>
{% endblock %}