{% extends 'base.html.twig' %}

{% block title %}
Utilisateurs : {{ users.firstname }} {{ users.lastname }}
{% endblock %}

{% block content %}
{{ users.firstname }} {{ users.lastname }}

<a class"text-white" href="{{ env.base_path ~ '/users/' ~ users.id ~ '/edit' }}">Éditer</a>
{% endblock %}
